Repository typegoose/typegoose, pull requests merged in 2019-10, with the labels that each got.

#58 #57 : addressing TS2344 error for sample code.
  github-page/_docs/types/returnModelType.md
Labels: docs, enhancement

#73 Added quotes to value of ref (and itemsRef).
  github-page/_docs/types/ref.md
Labels: docs

#50 refactor decorator cache and move to class metadata
  src/internal/constants.ts
  src/internal/data.ts
  src/internal/schema.ts
  src/internal/utils.ts
  src/prop.ts
  src/types.ts
Labels: enhancement

#86 Models can be deleted so that they can be overwritten
  github-page/_data/navigation.yml
  github-page/_docs/functions/deleteModel.md
  src/typegoose.ts
  test/index.test.ts
  test/models/overwrittenUser.ts
  test/tests/errors.test.ts
  test/tests/overwrittenModel.test.ts
Labels: enhancement, parity

#29 Array Validators & Transforms
  github-page/_docs/decorators/arrayProp.md
  github-page/changelog.md
  package-lock.json
  package.json
  src/internal/utils.ts
  src/prop.ts
  src/typegoose.ts
  src/types.ts
  test/index.test.ts
  test/models/arrayValidators.ts
  test/models/stringValidators.ts
  test/tests/arrayValidator.test.ts
  test/tests/stringValidator.test.ts
Labels: breaking, enhancement, parity
