Repository typegoose/typegoose, pull requests merged in 2019-11, with the labels that each got.

#94 Upgrade to Typescript 3.7
  .travis.yml
  .vscode/settings.json
  README.md
  github-page/_guides/quick-start-guide.md
  github-page/changelog.md
  github-page/index.md
  package-lock.json
  package.json
  src/defaultClasses.ts
  src/hooks.ts
  src/index.ts
  src/internal/schema.ts
  src/internal/utils.ts
  src/plugin.ts
  src/prop.ts
  src/typegoose.ts
  src/types.ts
  test/models/persistentModel.ts
  test/models/user.ts
  test/tests/dClasses.test.ts
  test/tests/errors.test.ts
  test/tests/getClassForDocument.test.ts
  test/tests/globalOptions.test.ts
  test/tests/inheritance.test.ts
  test/tests/overwrittenModel.test.ts
  test/tests/shouldAdd.test.ts
  test/tests/shouldRun.test.ts
  test/utils/config.ts
  test/utils/mongooseConnect.ts
Labels: breaking, dont merge yet, enhancement

#119 Fix deleting model definition from not main connection
  src/typegoose.ts
  test/tests/overwrittenModel.test.ts
  test/utils/mongooseConnect.ts
Labels: bug, enhancement

#122 Fix minor typo in quick-start-guide.md
  github-page/_guides/quick-start-guide.md
Labels: docs

#79 add test for generic classes
  src/internal/utils.ts
  src/prop.ts
  test/index.test.ts
  test/models/discriminatorsWithGenerics.ts
  test/tests/discriminators.test.ts
  test/tests/shouldRun.test.ts
Labels: dont merge yet, enhancement, info needed

#97 Add Support for nested GetClass
  github-page/_data/navigation.yml
  github-page/_docs/functions/getClass.md
  github-page/_docs/functions/getClassForDocument.md
  src/internal/schema.ts
  src/internal/utils.ts
  src/typegoose.ts
  src/types.ts
  test/models/getClass.ts
  test/tests/errors.test.ts
  test/tests/shouldAdd.test.ts
Labels: enhancement

#141 R6/fix name
  src/internal/utils.ts
  test/tests/shouldAdd.test.ts
Labels: enhancement
