Repository typegoose/typegoose, pull requests merged in 2020-06, with the labels that each got.

#280 Explain the difference between ref: Class and ref: 'Class'
  github-page/_docs/decorators/prop.md
Labels: docs

#285 Imports the logger earlier to fix reference error
  src/typegoose.ts
Labels: bug

#287 Discriminators
  src/internal/schema.ts
  test/tests/discriminators.test.ts
Labels: enhancement

#290 Upgrade to @types/mongoose@5.7.22
  github-page/_guides/mongoose-compatibility.csv
  github-page/_guides/mongoose-compatibility.md
  github-page/changelog.md
  package-lock.json
  package.json
  src/defaultClasses.ts
  src/typeguards.ts
  test/models/arrayValidators.ts
  test/models/typeguards.ts
  test/models/user.ts
  test/models/userRefs.ts
  test/tests/arrayValidator.test.ts
  test/tests/biguser.test.ts
  test/tests/dClasses.test.ts
  test/tests/discriminators.test.ts
  test/tests/getClassForDocument.test.ts
  test/tests/nestedDiscriminators.test.ts
  test/tests/shouldAdd.test.ts
  test/tests/stringValidator.test.ts
  test/tests/typeguards.test.ts
Labels: help wanted
