Repository typegoose/typegoose, pull requests merged in 2020-05, with the labels that each got.

#244 Update prop.md
  github-page/_docs/decorators/prop.md
Labels: docs

#245 Explained how to disable the _id
  github-page/_guides/advanced/changeIDType.md
Labels: docs

#249 fix: Ref<> type broken with optional property
  src/types.ts
  test/models/refTests.ts
  test/tests/ref.test.ts
Labels: enhancement

#253 Update latest release
  github-page/index.md
Labels: docs

#252 Fix query method decorator
  src/queryMethod.ts
  test/tests/shouldRun.test.ts
Labels: enhancement

#221 Add example of using mongoose-sequence
  github-page/_guides/advanced/common-plugins.md
Labels: docs

#251 Improve English & SEO in migration guide -> Methods
  github-page/_guides/migrate-to-6.md
Labels: docs

#254 feat: enable strictNullChecks
  .editorconfig
  .vscode/settings.json
  github-page/changelog.md
  src/globalOptions.ts
  src/hooks.ts
  src/internal/schema.ts
  src/internal/utils.ts
  src/prop.ts
  src/typegoose.ts
  src/typeguards.ts
  src/types.ts
  test/models/arrayValidators.ts
  test/models/hook1.ts
  test/models/job.ts
  test/models/user.ts
  test/tests/arrayValidator.test.ts
  test/tests/biguser.test.ts
  test/tests/customName.test.ts
  test/tests/dClasses.test.ts
  test/tests/dbIndex.test.ts
  test/tests/discriminators.test.ts
  test/tests/errors.test.ts
  test/tests/getClassForDocument.test.ts
  test/tests/globalOptions.test.ts
  test/tests/hooks.test.ts
  test/tests/inheritance.test.ts
  test/tests/numberValidator.test.ts
  test/tests/overwrittenModel.test.ts
  test/tests/ref.test.ts
  test/tests/shouldAdd.test.ts
  test/tests/shouldRun.test.ts
  test/tests/stringValidator.test.ts
  test/tests/typeguards.test.ts
  test/utils/connect.ts
  tsconfig.json
Labels: enhancement

#247 Types for query methods
  github-page/_docs/decorators/queryMethod.md
  github-page/_docs/types/returnModelType.md
  github-page/changelog.md
  src/internal/schema.ts
  src/internal/utils.ts
  src/queryMethod.ts
  src/typegoose.ts
  src/types.ts
  test/tests/shouldRun.test.ts
Labels: dont merge yet, feature

#261 Update common-plugins.md
  github-page/_guides/advanced/common-plugins.md
Labels: docs

#271 Typos, grammar
  github-page/_guides/quick-start-guide.md
Labels: docs
