Repository typegoose/typegoose, pull requests merged in 2020-07, with the labels that each got.

#316 fix the DocumentType definition when the model extends Base<String>
  src/internal/processProp.ts
  src/internal/utils.ts
  src/types.ts
  test/models/refTests.ts
  test/tests/ref.test.ts
Labels: enhancement

#324 Add new query methods
  src/hooks.ts
Labels: parity

#330 Update README.md
  README.md
Labels: docs

#336 added redirects to docs/api, docs/guides, and docs, fixed readme link…
  website/src/pages/docs/api.js
  website/src/pages/docs/guides.js
  website/src/pages/docs/index.js
Labels: docs
