Repository typegoose/typegoose, pull requests merged in 2021-06, with the labels that each got.

#549 Fix reference maps
  src/internal/processProp.ts
  test/tests/errors.test.ts
  test/tests/ref.test.ts
Labels: feature, parity

#564 docs(types): fix a typo
  src/types.ts
Labels: enhancement

#566 docs(non-nested-dicriminators): add guide
  docs/guides/advanced/non-nested-discriminators.md
  website/sidebars.js
Labels: docs
